button {
    width: 400px;
    height: 50px;
}

#localMedia {
    padding-bottom: 50px;
}

.localVideo {
    max-width: 75%;
}

.remoteVideo {
    max-width: 75%;
}

.radioButtons {
    padding: 10px;
}